
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
/* box styling */
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    }

h2 { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    }

input {
    text-align: center;
}

p {
    font-size: x-large;
    text-align: center;
    text-shadow: .5px .5px red;
}

.container {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    background-color: cadetblue;
    padding: 15px;
    box-shadow: 0 0 15px 2px;
}
/* button styling */
#startbtn, #startPage-Highscore {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.btn:hover {
    border-color: black;
}
#quiz {
    display: none;
}

#result {
    display: none;
}

/* styles for timer */
#timer {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    box-shadow: 0px 0px 15px 2px;
    }

#quiz-over {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

#finalScore {
    height: 1.5rem;
    border: 2px
}
    